<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="eagledata.core.dsl.datadesc.dataDsl.DataDslPackage"
            genModel="model/generated/DataDsl.genmodel"
            uri="http://www.core.eagledata/dsl/datadesc/DataDsl">
      </package>
   </extension>


</plugin>
