<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="eagledatanature"
         name="EagleData Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="eagledata.core.nature.EagleDataProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eagledata.core.nature.command"
            name="Convert to EagleData Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eagledata.core.nature.EagleDataProjectNatureHandler"
            commandId="eagledata.core.nature.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="eagledata.core.nature.command"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <not>
                  <reference
                        definitionId="eagledata.core.nature.hasNature">
                  </reference>
               </not>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="eagledata.core.nature.hasNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="eagledata.core.nature.eagledatanature">
            </test>
         </adapt>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/datasheet.png"
            id="eagledata.core.nature.eagledatanature.image"
            natureId="eagledata.core.nature.eagledatanature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="eagledata.core.nature.category"
            class="eagledata.core.nature.newprojectwizard.EagleDataNewProjectWizard"
            finalPerspective="eagledata.ui.perspective.eagledata"
            icon="icons/logo16.png"
            id="eagledata.core.nature.newprojectwizard"
            name="New EagleData Project"
            project="true">
      </wizard>
      <category
            id="eagledata.core.nature.category"
            name="EagleData">
      </category>
   </extension>

</plugin>
