<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eagledata.ui"
            name="eagledata">
      </category>
      <view
            category="eagledata.ui"
            class="eagledata.ui.views.fragments.FragmentsView"
            icon="icons/fragment.png"
            id="eagledata.ui.views.fragments.FragmentsView"
            name="Fragments"
            restorable="true">
      </view>
      <view
            category="eagledata.ui"
            class="eagledata.ui.views.datatypes.DatatypesView"
            icon="icons/data.png"
            id="eagledata.ui.views.datatypes.DatatypesView"
            name="Datatypes"
            restorable="true">
      </view>
      <view
            category="eagledata.ui"
            class="eagledata.ui.views.streaming.StreamingView"
            icon="icons/socials.png"
            id="eagledata.ui.views.datatypes.StreamingView"
            name="Streaming"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command
               commandId="eagledata.ui.command.SaveFragments"
               icon="icons/upload.png"
               label="Save Fragments"
               style="push">
         </command>
         <command
               commandId="eagledata.ui.command.SaveDatatypes"
               icon="icons/data.png"
               label="Save Datatypes"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eagledata.ui.commands.SaveFragmentsHandler"
            id="eagledata.ui.command.SaveFragments"
            name="Save Fragments">
      </command>
      <category
            id="eagledata.ui.commands"
            name="eagledata">
      </category>
      <command
            defaultHandler="eagledata.ui.commands.SaveDatatypesHandler"
            id="eagledata.ui.command.SaveDatatypes"
            name="Save Datatypes">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="eagledata.ui.wizards"
            name="EagleData">
      </category>
      <wizard
            category="eagledata.ui.wizards"
            class="eagledata.ui.wizards.importer.FileImportWizard"
            icon="icons/document.png"
            id="eagledata.ui.wizards.importer.fileimport"
            name="EagleData File">
         <description>
            Import a based-on CSV, XML or JSON file to generate a description
         </description>
      </wizard>
   </extension>

</plugin>
