<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eagledata.core.extensions.dataconnection">
      <connection
            class="uam.eagledata.dataconnection.telegram.TelegramConnection"
            icon16="icons/telegram.png"
            id="eagledata.dataconnection.telegram"
            name="TelegramConnection">
      </connection>
   </extension>

</plugin>
